---
import ScrollCounter from '../components/ScrollCounter.astro';
import readingTime from 'reading-time'
import { SEO } from "astro-seo";
import fs from 'fs'

const {frontmatter, file} = Astro.props

const fileText = fs.readFileSync(file, 'utf8')
const stats = readingTime(fileText)
const totalTime = frontmatter.languageKey === 'en' 
  ? stats.text 
  : `Tempo de leitura ${Math.ceil(stats.minutes)} minutos`
const socialImage = Astro.site + frontmatter.socialImage
---

<html lang={frontmatter.languageKey}>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">

  <SEO
      title={frontmatter.title}
      description={frontmatter.description}
      openGraph={{
        basic: {
          title: frontmatter.title,
          type: "A type.",
          image: socialImage ?? ''
        }
      }}
      extend={{
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: socialImage,
          },
          { name: "twitter:title", content: frontmatter.title },
          { name: "twitter:site", content: '@diel_duarte' },
          { name: "twitter:card", content: 'summary_large_image' },
          { name: "twitter:description", content: frontmatter.description},
        ],
      }}
    />

  <style is:global>
    .content { 
      padding-bottom: 60px; 
      margin: 0 auto;
    }

    .content * {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 1.58em;
    }

    .content p {
      margin: 30px 0;
    }

    .content pre {
      padding: 10px 20px;
      border-radius: 2px;
      font-family: 'Fira Code', monospace;
    }

    .content h1, 
    .content h2, 
    .content h3, 
    .content h4, 
    .content h5, 
    .content h6 {
      font-family: 'Press Start 2P', cursive;
      margin: 30px 0;
    }
    
    .content h1 {
      font-size: 24px;
      text-align: center;
      line-height: 34px;
      margin: 0;
    }

    .content h2 {
      font-size: 20px;
    }

    .content h3 {
      font-size: 14px;
    }

    .subtitle--separator:before {
      content: '•••';
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 50px;
      color: #484A4B;
    }

    .content a {
      display: inline-block;
      color: rgb(215, 136, 56);
    }

    .content ul, .content ol {
      margin: 20px 0 20px 0;
      list-style: none;
    }

    .content ul li {
      margin-bottom: 10px;
    }

    .content ul li:before {
      content: '=>';
      font-family: 'Press Start 2P', cursive;
      font-size: 10px;
      padding-right: 10px;
      color: rgb(215, 136, 56);
    }

    .content blockquote {
      margin-left: 18px;
      border-left: 4px solid #3e7068;
      padding-left: 10px;
      margin: 40px 0 40px 18px;
    }

    .content img, .content video {
      max-width: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>

<body class="bg-black flex w-full text-white justify-center flex-col items-center pt-20 font-pressStart px-10 md:px-0">  
  <div class="flex justify-end align-middle font-pressStart w-full max-w-3xl mb-8">
    <a class="border-white border text-xs py-3.5 px-3" href={`/blog/${frontmatter.languageKey}/`} aria-label="close article and go back to home"><span aria-hidden="true">x</span></a>
  </div>
  <article class="max-w-3xl content w-full">
    <h1>{frontmatter.title}</h1>
    <p class="text-center italic text-sm">{totalTime}</p>
    <slot />
  </article>
  <ScrollCounter />
</body>

</html>
